.swiper-pagination-bullet {
    border: 2px solid #fff;
    width: 1em;
    height: 1em;
    box-shadow: 0 0 9px #111827;
    opacity: 0.5;
	background-color: white;
}
.swiper-pagination-bullet-active {
	background-color: black;
}
.swiper-slide {
	max-height: 912px;
}
.slide1 {
    background-color: #8533ff !important;
    background-image: radial-gradient(circle at 100% 100%, #67e2fe80, #67e2fe00 50%), radial-gradient(circle at 0 0, #ffffff80, #fff0 50%);
}