/* Tooltip container */
.tooltip {
	display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 100%;
	background-color: #6b7280;
	color: #fff;
	padding: 1em;
	border-radius: 6px;
 
	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;
	top: 120%;
	left: 0;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 10%;
  margin-left: -7px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent #6b7280 transparent;
}