@import 'partials/header.css';
@import 'partials/button.css';
@import 'partials/banner.css';

@media (max-width: 1079px) {
	.body-wrapper {
		display: none;
	}
	.dev-notice {
		display: block ;
	}
}
@media (min-width: 1080px) {
	.dev-notice {
		display: none ;
	}
}

#events {
	background: url("data:image/svg+xml,<svg width=\"1440\" height=\"1279\" viewBox=\"0 0 1440 1279\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M1440 7.41149V1279H0V25.5523C14.1706 26.6105 75.3065 30.1781 206.485 35.983C370.459 43.2391 405.548 36.4365 619.456 26.0058C833.365 15.5752 879.25 3.78343 1062.12 0.608876C1208.41 -1.93077 1375 4.08577 1440 7.41149Z\" fill=\"url%28%23paint0_linear_467_666%29\"/><defs><linearGradient id=\"paint0_linear_467_666\" x1=\"720\" y1=\"29.5\" x2=\"720\" y2=\"1488\" gradientUnits=\"userSpaceOnUse\"><stop stop-color=\"%23EDF7FF\"/><stop offset=\"0.113453\" stop-color=\"%23F9FCFF\"/><stop offset=\"0.682292\" stop-color=\"%23F7FBFF\"/><stop offset=\"1\" stop-color=\"%23DDEFFF\"/></linearGradient></defs></svg>");
	background-repeat: no-repeat;
    background-size: cover;
}
.bottom-curves {
	background: url("data:image/svg+xml,<svg width=\"1440\" height=\"401\" viewBox=\"0 0 1440 401\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M1440 228.36H0V60.4003C57.6 55.9003 400.2 49.4043 542.4 52.4043C684.6 55.4043 950.546 27.1758 1070 27.1758C1242.2 27.1758 1340.4 61.4043 1440 48.4043V228.36Z\" fill=\"url%28%23paint0_linear_292_25%29\"/><path d=\"M1440 248.414H0V64.9138C57.6 60.4138 322.8 24.1762 465 27.1762C607.2 30.1762 934.146 59.9138 1053.6 59.9138C1225.8 59.9138 1340.4 61.4132 1440 48.4132V248.414Z\" fill=\"url%28%23paint1_linear_292_25%29\"/><path d=\"M1440 400.176H0V51.1758C57.6 46.6758 397.2 52.6758 539.4 55.6758C681.6 58.6758 935.346 67.1758 1054.8 67.1758C1227 67.1758 1340.4 59.6758 1440 46.6758V400.176Z\" fill=\"url%28%23paint2_linear_292_25%29\"/><defs><linearGradient id=\"paint0_linear_292_25\" x1=\"725.5\" y1=\"58.1763\" x2=\"1805.5\" y2=\"80.1764\" gradientUnits=\"userSpaceOnUse\"><stop stop-color=\"%2397C7FD\"/><stop offset=\"1\" stop-color=\"%23F3FCFF\"/></linearGradient><linearGradient id=\"paint1_linear_292_25\" x1=\"471\" y1=\"35.9043\" x2=\"1547.57\" y2=\"119.715\" gradientUnits=\"userSpaceOnUse\"><stop stop-color=\"%23B8B6FF\"/><stop offset=\"1\" stop-color=\"%2383ADFF\"/></linearGradient><linearGradient id=\"paint2_linear_292_25\" x1=\"720\" y1=\"46.6758\" x2=\"720\" y2=\"260.176\" gradientUnits=\"userSpaceOnUse\"><stop stop-color=\"%232f0d68\"/><stop offset=\"0.5625\" stop-color=\"%232f0d68\"/><stop offset=\"1\" stop-color=\"%235d0ec0\"/></linearGradient></defs></svg>");
	background-size: cover;
    background-repeat: no-repeat;
    padding-top: 152px;
}
